/* RESET CSS NORMALMENTE É COPIADO, OS MAIS FAMOSOS É O DO ERIC MEYER E O NORMALIZE */
body{
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
}

body,h1,h2,h3{
    margin: 0;
}

button{
    border: none;
    font-family: inherit;
}