.main-button{
    display: inline-block;
    background-color: #F25A70;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 60px;
    box-shadow: 5px 5px 0px black;
    margin-right: 0;
    transition: transform 150ms linear;
    font-size: 20px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.main-button:hover{
    background-color: #f37e90;
    transform: scale(1.03);
}

.main-button.-submit{
    width: 100%;
    font-size: 30px;
    font-weight: 300;
    line-height: 40px;
    font-family: inherit;
}

.main-button.-submit:hover{
    transform: scale(1.01);
}